body {
  background-color: #000;
}

.divider {
  background-color: #eee;
}

#intro {
  background-image: url("../img/cafe-header.jpg");
  height: 400px;
}

@media (min-width: 576px) {
  #intro {
    height: 600px;
  }
}

#price {
  background-image: url("../img/coffee-g0d132bdb7_1920.jpg");
  height: 300px;
  background-size: cover;
}
